@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Distressed&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Rubik+Glitch&display=swap");

.nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.logo {
  width: 80px;
  font-weight: 400;
  font-size: 20.4814px;
  line-height: 35px;
  color: white;
  font-family: "Rubik Distressed";
  background: #171719;
  border-radius: 50%;
  border: 1px solid #5442c3;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.links {
  display: flex;
  flex-direction: row;
}
.links a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32.0494px;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}
.sign button {
  padding: 4.85973px 15.6493px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22.4875px;
  text-align: center;
  color: #ffffff;
  background: #15bffd;
  border-radius: 19px;
}
.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.left {
  width: 500px;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 500px;
}
.title {
  font-family: "Rubik Glitch";
  font-style: normal;
  font-weight: 400;
  font-size: 50.4247px;
  color: #ffffff;
}
.cryptos {
  display: flex;
  gap: 1em;
}
.cryptos div {
  font-style: bolder;
  font-weight: 600;
  font-size: 14.3997px;
  line-height: 25px;
  border-radius: 50%;
  border: 4px solid #a28ce2;
  text-align: center;
  height: 70px;
  width: 70px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.right {
  width: 700px;
  z-index: 1;
}
.right img {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .left,
  .right {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .Home {
    padding: 0 10px;
  }
  .nav {
    width: 100%;
  }

  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .links {
    position: absolute;
    flex-direction: column;
    right: -100%;
    top: 100px;
    gap: 0;
    width: 100%;
    text-align: center;
    transition: 1s;
    z-index: 10000;
  }
  .links.active {
    right: 0;
    background: #a28ce2;
  }
  .links a {
    text-decoration: underline;
  }
  /* .nav-links div,
  .links  a {
    margin: 16px 0;
  } */

  .sign button {
    position: absolute;
    right: -100%;
    transition: 1s;
  }
  .sign.active button {
    position: absolute;
    top: 200px;
    right: 0;
    font-size: 16px;
    padding: 0px 20px;
    z-index: 100000;
  }
}
.cardContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em;
}
.Card {
  width: 310px;
  height: 450px;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Card img {
  border-radius: 24px 24px 0 0;
  width: 100%;
  height: 315px;
  object-fit: cover;
}
.below {
  width: 100%;
  height: 135px;
  padding: 10px;
}
.below div:nth-child(1) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13.296px;
  line-height: 20px;

  display: flex;
  align-items: center;
  gap: 0.25em;
  text-align: left;

  color: #000000;
}
.below div:nth-child(2) svg {
  font-size: 15px;
  color: #196ed3;
}
.below div:nth-child(2) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 19.678px;
  line-height: 30px;
  width: 100%;
  text-align: left;

  margin: 5px 0;
  color: #000000;
}
.bid {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 11.4079px;
  color: #000000;
}
.bid div {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13.0377px;
  line-height: 20px;

  color: #15bffd;
}
.bid div svg {
  color: #0e526a;
  margin-left: 5px;
}
.ends {
  margin-top: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.ends button {
  width: 87.96px;
  padding: 5px 0;
  left: 229px;
  cursor: pointer;
  top: 115px;
  border: none;
  color: white;
  background: #15bffd;
  border-radius: 22.1739px;
}
.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.search {
  width: 579px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 17.3914px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
.search svg {
  color: white;
  font-size: 20px;
}
.search input {
  width: 93%;
  border: none;
  background: transparent;
  height: 100%;
  outline: none;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 2px;

  color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 600px) {
  .search {
    width: 70%;
  }
}
.signin {
  background: #ffffff;
  border-radius: 22.6339px;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 200000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.signin button {
  width: 70%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30.6143px;
  line-height: 62px;
  text-align: center;
  padding: 10px 0;
  border: none;
  color: #f4f4f4;
  background: #8c8cff;
  border-radius: 61.1225px;
}
.signin div {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1000000000000;
}
